@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Asap", sans-serif;
  text-transform: uppercase;
  color: hsl(0deg 0% 10%);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}
