@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Asap Condensed", sans-serif;
  text-transform: uppercase;
  color: hsl(0deg 0% 10%);
}

p, a {
  font-size: max(16px,2.3rem);
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 9rem;
}

h3 {
  font-size: 8rem;
}

h4 {
  font-size: 6rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 2rem;
}

@media (min-width: 2560px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 2560px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 6.5px;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 5px;
  }
}

* {
  box-sizing: border-box;
}
